daily_sales_performance_report.json
{
  "name": "Daily Sales Performance Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "replaced_id_1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "replaced_google_sheets_document_id",
          "mode": "list",
          "cachedResultName": "replaced_cached_result_name",
          "cachedResultUrl": "replaced_cached_result_url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "replaced_cached_result_name",
          "cachedResultUrl": "replaced_cached_result_url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        0
      ],
      "id": "replaced_id_2",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "replaced_credential_id",
          "name": "replaced_credential_name"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ดึงข้อมูลจากวันก่อนหน้า\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst targetDate = yesterday.toISOString().split('T')[0];\n\nconst items = $input.all();\n\n// Filter ข้อมูลวันเมื่อวาน\nconst salesData = items.filter(item => {\n  const itemDate = item.json.Date;\n  return itemDate === targetDate;\n});\n\n// ถ้าไม่มีข้อมูล return error\nif (salesData.length === 0) {\n  return [{ \n    json: { \n      error: `No sales data found for ${targetDate}`,\n      date: targetDate,\n      totalSales: 0,\n      totalOrders: 0\n    } \n  }];\n}\n\n// คำนวณ Total Sales\nconst totalSales = salesData.reduce((sum, item) => {\n  const quantity = parseInt(item.json.Quantity) || 0;\n  const unitPrice = parseInt(item.json.Unit_Price) || 0;\n  return sum + (quantity * unitPrice);\n}, 0);\n\nconst totalOrders = salesData.length;\nconst avgOrderValue = totalOrders > 0 ? Math.round(totalSales / totalOrders) : 0;\n\n// หา Top Product (ตามยอดขาย)\nconst productSales = {};\nsalesData.forEach(item => {\n  const product = item.json.Product;\n  const total = (parseInt(item.json.Quantity) || 0) * (parseInt(item.json.Unit_Price) || 0);\n  productSales[product] = (productSales[product] || 0) + total;\n});\n\nconst topProduct = Object.keys(productSales).length > 0 \n  ? Object.keys(productSales).reduce((a, b) => productSales[a] > productSales[b] ? a : b)\n  : 'N/A';\n\n// หา Top Sales Rep (ตามยอดขาย)\nconst repSales = {};\nsalesData.forEach(item => {\n  const rep = item.json.Sales_Rep;\n  const total = (parseInt(item.json.Quantity) || 0) * (parseInt(item.json.Unit_Price) || 0);\n  repSales[rep] = (repSales[rep] || 0) + total;\n});\n\nconst topSalesRep = Object.keys(repSales).length > 0\n  ? Object.keys(repSales).reduce((a, b) => repSales[a] > repSales[b] ? a : b)\n  : 'N/A';\n\n// ยอดขายตามภูมิภาค\nconst regionSales = {};\nsalesData.forEach(item => {\n  const region = item.json.Region;\n  const total = (parseInt(item.json.Quantity) || 0) * (parseInt(item.json.Unit_Price) || 0);\n  regionSales[region] = (regionSales[region] || 0) + total;\n});\n\n// Return processed data\nreturn [{\n  json: {\n    date: targetDate,\n    totalSales,\n    totalOrders,\n    avgOrderValue,\n    topProduct,\n    topSalesRep,\n    regionSales,\n    rawDataCount: salesData.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "replaced_id_3",
      "name": "Code"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <style>\n        body { \n            font-family: Arial, sans-serif; \n            margin: 0; \n            padding: 20px; \n            background: #f8fafc;\n        }\n        .container {\n            max-width: 800px;\n            margin: 0 auto;\n            background: white;\n            border-radius: 12px;\n            overflow: hidden;\n            box-shadow: 0 4px 20px rgba(0,0,0,0.1);\n        }\n        .header { \n            background: linear-gradient(135deg, #4f46e5 0%, #7c3aed 100%);\n            color: white; \n            padding: 30px; \n            text-align: center;\n        }\n        .header h1 { margin-bottom: 10px; font-size: 28px; }\n        .metrics { \n            display: grid; \n            grid-template-columns: repeat(3, 1fr); \n            gap: 0; \n        }\n        .metric-card { \n            background: linear-gradient(145deg, #f1f5f9, #f8fafc);\n            padding: 25px; \n            text-align: center;\n            border-right: 1px solid #e2e8f0;\n            border-bottom: 1px solid #e2e8f0;\n        }\n        .metric-card:last-child { border-right: none; }\n        .metric-value { \n            font-size: 28px; \n            font-weight: 700; \n            color: #4f46e5;\n            margin-bottom: 5px;\n        }\n        .metric-label { \n            font-size: 13px; \n            color: #64748b; \n            text-transform: uppercase;\n            letter-spacing: 0.5px;\n        }\n        .content {\n            padding: 30px;\n        }\n        .section {\n            margin-bottom: 30px;\n        }\n        .section h3 {\n            color: #1e293b;\n            font-size: 18px;\n            margin-bottom: 15px;\n            padding-bottom: 8px;\n            border-bottom: 2px solid #e2e8f0;\n        }\n        .top-performers {\n            display: grid;\n            grid-template-columns: 1fr 1fr;\n            gap: 20px;\n            margin-bottom: 25px;\n        }\n        .performer-card {\n            background: #f8fafc;\n            padding: 20px;\n            border-radius: 8px;\n            border-left: 4px solid #10b981;\n        }\n        .performer-title {\n            font-size: 12px;\n            color: #64748b;\n            text-transform: uppercase;\n            margin-bottom: 8px;\n        }\n        .performer-value {\n            font-size: 18px;\n            font-weight: 600;\n            color: #1e293b;\n        }\n        .region-item {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            padding: 12px 0;\n            border-bottom: 1px solid #f1f5f9;\n        }\n        .region-item:last-child { border-bottom: none; }\n        .region-name {\n            font-weight: 500;\n            color: #374151;\n        }\n        .region-value {\n            font-weight: 600;\n            color: #4f46e5;\n        }\n        .footer {\n            background: #f8fafc;\n            padding: 20px;\n            text-align: center;\n            font-size: 12px;\n            color: #64748b;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>📈 Daily Sales Report</h1>\n            <p style=\"font-size: 16px; opacity: 0.9;\">วันที่: {{ $json.date }}</p>\n        </div>\n\n        <div class=\"metrics\">\n            <div class=\"metric-card\">\n                <div class=\"metric-value\">฿{{ $json.totalSales.toLocaleString() }}</div>\n                <div class=\"metric-label\">ยอดขายรวม</div>\n            </div>\n            <div class=\"metric-card\">\n                <div class=\"metric-value\">{{ $json.totalOrders }}</div>\n                <div class=\"metric-label\">จำนวนออเดอร์</div>\n            </div>\n            <div class=\"metric-card\">\n                <div class=\"metric-value\">฿{{ $json.avgOrderValue.toLocaleString() }}</div>\n                <div class=\"metric-label\">ค่าเฉลี่ยต่อออเดอร์</div>\n            </div>\n        </div>\n\n        <div class=\"content\">\n            <div class=\"section\">\n                <h3>🏆 Top Performers วันนี้</h3>\n                <div class=\"top-performers\">\n                    <div class=\"performer-card\">\n                        <div class=\"performer-title\">สินค้าขายดี</div>\n                        <div class=\"performer-value\">{{ $json.topProduct }}</div>\n                    </div>\n                    <div class=\"performer-card\">\n                        <div class=\"performer-title\">เซลส์ยอดเยี่ยม</div>\n                        <div class=\"performer-value\">{{ $json.topSalesRep }}</div>\n                    </div>\n                </div>\n            </div>\n\n            <div class=\"section\">\n                <h3>🗺️ ยอดขายตามภูมิภาค</h3>\n                <div class=\"region-item\">\n                    <span class=\"region-name\">กรุงเทพ</span>\n                    <span class=\"region-value\">฿{{ $json.regionSales.กรุงเทพ.toLocaleString() }} บาท</span>\n                </div>\n                <div class=\"region-item\">\n                    <span class=\"region-name\">เชียงใหม่</span>\n                    <span class=\"region-value\">฿{{ $json.regionSales.เชียงใหม่.toLocaleString() }} บาท</span>\n                </div>\n                <div class=\"region-item\">\n                    <span class=\"region-name\">ภูเก็ต</span>\n                    <span class=\"region-value\">฿{{ $json.regionSales.ภูเก็ต.toLocaleString() }} บาท</span>\n                </div>\n            </div>\n        </div>\n\n        <div class=\"footer\">\n            <p>🤖 รายงานสร้างโดย n8n Automation</p>\n            <p>ข้อมูลจาก: Google Sheets • ประมวลผลแบบอัตโนมัติ</p>\n        </div>\n    </div>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        660,
        0
      ],
      "id": "replaced_id_4",
      "name": "HTML"
    },
    {
      "parameters": {
        "sendTo": "replaced_email@gmail.com",
        "subject": "=Daily Sales Report - {{ $(\"Code\").item.json.date }}",
        "message": "={{ $(\"HTML\").item.json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        0
      ],
      "id": "replaced_id_5",
      "name": "Gmail",
      "webhookId": "replaced_webhook_id",
      "credentials": {
        "gmailOAuth2": {
          "id": "replaced_credential_id",
          "name": "replaced_credential_name"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "replaced_version_id",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "replaced_instance_id"
  },
  "id": "replaced_id_6",
  "tags": []
}